body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

#hero {
    width: 500px;
    margin: 10px auto 70px;
}

#hero img {
    margin-bottom: 70px;

}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 35px;
}

h1 span {
    font-weight: bold;
}


span, a {
    color: #FF9900;
}

p, #footer {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 35px;
}

#footer a + a {
    margin-left: 30px;
}

.line {
    width: 80px;
    height: 0px;
    margin: 0 auto 10px;


    border: 1px solid #8B0000;
}

#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}